{% extends 'tanni/base.html' %}
{% block style %}
<style>
	table.a {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	table.b {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 40%;
	}

	td,
	th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	.wrapper {
		display: flex;
		flex-direction: row;
	}

	.right {
		width: 60%;
	}

	.left {
		width: 40%;
	}

	#myDIV {
		width: 100%;
		padding: 0px 0;
		text-align: left;
		background-color: none;
		margin-top: 0px;
	}

	#myDIV2 {
		width: 100%;
		padding: 0px 0;
		text-align: left;
		background-color: none;
		margin-top: 0px;
	}

	#myDIV3 {
		width: 100%;
		padding: 0px 0;
		text-align: left;
		background-color: none;
		margin-top: 0px;
	}

	.selected {
		color: red;
	}
</style>
{% endblock %}
{% block content %}
科目の登録・変更を行います。<br>
下の時間割から登録・変更したい時間をクリックしてください。<br>
<table class="a" id="display-table">
	<thead>
		<th></th>
		<th>月</th>
		<th>火</th>
		<th>水</th>
		<th>木</th>
		<th>金</th>
		<th>土</th>
	</thead>
	<tbody>
		{% for jk in time_table %}
		<tr>
			<th scope="row">{{ forloop.counter }}限</th>
			{% for j in jk %}
			<td>{{ j }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>

<div id="myDIV6" style="display:none">
	<p>
		選択中：<a id=week></a>曜<a id=period></a>限(現在登録科目：<a id=cSubjId></a>)<br>
	</p>
</div>

<div id="myDIV5" style="display:none">
	<p>
		<button onclick="myFunction();myFunction5()">変更する</button>
	<form action="{% url 'tanni:reg_delete' %}" method="POST">
		{% csrf_token %}
		<input type="hidden" id="del_week" name="week">
		<input type="hidden" id="del_period" name="period">
		<input type="submit" value="削除する"><br><br>
	</form>
	</p>
</div>


<div class="wrapper">
	<div class='left'>
		<div id="myDIV" style="display:none">
			<p>
				科目群を選択してください。<br>
			<table class="b" id="display-table-2">
				<tr>
					<td>専門</td>
				</tr>
				<tr>
					<td>共通数理</td>
				</tr>
				<tr>
					<td>言語・情報系</td>
				</tr>
				<tr>
					<td>人文社会系教養</td>
				</tr>
				<tr>
					<td>共通健康</td>
				</tr>
				<tr>
					<td>共通工学系教養</td>
				</tr>
			</table>
			</p>
		</div>
	</div>
	<div class='right'>
		<div id="myDIV2" style="display:none">
			<p>
				追加したい科目名をクリックしてください。
			<div id="myDIV4">
				<p>
				<table class="a" id="display-table-3">
					<thead>
						<th>科目群</th>
						<th>科目名</th>
						<th>教員</th>
						<th>キャンパス</th>
						<th>単位</th>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td>bla</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
				</p>
			</div>
			</p>
		</div>
	</div>
</div>

<div id="myDIV3" style="display:none">
	<p>
		<br>
		<br>
		（選択中：<a id=nSubjId></a>）
	<form action="{% url 'tanni:reg_add' %}" method="POST">
		{% csrf_token %}
		<input type="hidden" id="week" name="曜日">
		<input type="hidden" id="period" name="時限">
		<input type="hidden" id="nSubjGrpId" name="科目群名">
		<input type="hidden" id="subject" name="subject">
		<input type="hidden" id="tchr" name="教員">
		<input type="hidden" id="cmp" name="キャンパス">
		<input type="hidden" id="crd" name="単位">
		<input type="submit" value="追加する"><br><br>
	</form>
	</p>
</div>
{% endblock %}
{% block script %}
<script>
	let OF = 1;
	let CF = 0;
	let CF2 = [0, 0, 0, 0, 0, 0];
	let subjName = ["専門", "共通数理", "言語・情報系", "人文社会系教養", "共通健康", "共通工学系教養"];
	let SF = 0;
	let CF3 = 0;
	let week = 2;
	let period = 2;
	let nSubjGrpId = "";
	let nSubjId = "";
	let tchr = "";
	let cmp = "";
	let crd = 0;
	let cSubjId = "";
	let ZF = (currentValue) => currentValue == 0;
	function myFunction() {
		var x = document.getElementById("myDIV");
		if (x.style.display === "none") {
			x.style.display = "block";
			OF = 0;
		}
		else {
			x.style.display = "none";
		}
	}

	function myFunction2() {
		var x = document.getElementById("myDIV2");
		if (x.style.display === "none") {
			x.style.display = "block";
		}
		else {
			x.style.display = "none";
		}
	}

	function myFunction3() {
		var x = document.getElementById("myDIV3");
		if (x.style.display === "none") {
			x.style.display = "block";
		}
		else {
			x.style.display = "none";
		}
	}

	function myFunction5() {
		var x = document.getElementById("myDIV5");
		if (x.style.display === "none") {
			x.style.display = "block";
			OF = 1;
		}
		else {
			x.style.display = "none";
		}
	}

	function myFunction6() {
		var x = document.getElementById("myDIV6");
		if (x.style.display === "none") {
			x.style.display = "block";
		}
		else {
			x.style.display = "none";
		}
	}

	function subjLoad(CF2) {
		// CF2[]=科目群、0=専門、1=共通数理…
		let url = "/reg_get/" + CF2 
		$.ajax({
			type: 'GET',
			url: url,
			success: function (data) {
				$('#myDIV4').html(data);
				choose3();
			}
		})
	}


	choose1();
	function choose1() {
		let table = document.getElementById('display-table');
		let cells = table.getElementsByTagName('td');

		for (var i = 0; i < cells.length; i++) {
			let cell = cells[i];

			// セルがクリックされたとき
			cell.onclick = function () {
				let rowId = this.parentNode.rowIndex - 1;
				let cellId = this.cellIndex - 1;
				let CellSelected = table.getElementsByTagName('td')[cellId + rowId * 6];
				let TempR = cellId + rowId * 6;
				let cellsNotSelected = cells;

				// 削除するフォームのhidden要素に値をセットする
				document.getElementById("del_week").value = cellId + 1;
				document.getElementById("del_period").value = rowId + 1;

				// すでに選択されている場合 → returnで抜ける
				if (CellSelected.style.backgroundColor === "yellow") {
					CellSelected.style.backgroundColor = "";
					CellSelected.classList.remove('selected');
					if (document.getElementById("myDIV").style.display === "block") {
						myFunction();
					}
					else {
						myFunction5();
					}
					myFunction6();
					CF = 0;
					if (SF === 1)
						choose2();
					if (CF3 === 1)
						choose3();
					return;
				}

				// セルが未選択の場合
				// ほかのセルは非選択にする
				for (var c = 0; c < cellsNotSelected.length; c++) {
					cellsNotSelected[c].style.backgroundColor = "";
					cellsNotSelected[c].classList.remove('selected');
				}

				// セルの色を変える
				CellSelected.style.backgroundColor = "yellow";
				CellSelected.className += " selected";
				rowId += 1;
				if (table.rows[rowId].cells[cellId + 1].innerHTML === "")
					document.getElementById("cSubjId").innerHTML = "無";
				else {
					document.getElementById("cSubjId").innerHTML = table.rows[rowId].cells[cellId + 1].innerHTML;
				}
				document.getElementById("week").innerHTML = table.rows[0].cells[cellId + 1].innerHTML;
				document.getElementById("period").innerHTML = rowId;
				//新しく追加
				if(CF === 1){
					if(document.getElementById("cSubjId").innerHTML === "無" && OF === 1){
						CF = 0;
						if(SF === 1)
							choose2();
						if(CF3 === 1)
							choose3();
						myFunction5();
						myFunction();
						OF = 0;		
						CF = 1;
					}
					else if(document.getElementById("cSubjId").innerHTML != "無" && OF === 0){
						CF = 0;
						if(SF === 1)
							choose2();
						if(CF3 === 1)
							choose3();
						myFunction();
						myFunction5();
						OF = 1;	
						CF = 1;
					}
					else {
						CF = 0;
						if(SF === 1)
							choose2();
						if(CF3 === 1)
							choose3();
						CF = 1;
					}
				}
				if (CF === 0) {
					if (document.getElementById("cSubjId").innerHTML === "無") {
						myFunction();
						OF = 0;
					}
					else {
						myFunction5();
						OF = 1;
					}
					myFunction6();
					CF = 1;
				}
			}
		}
	}

	choose2();
	function choose2() {

		var table = document.getElementById('display-table-2');
		var cells = table.getElementsByTagName('td');
		var rows = table.getElementsByTagName('tr');

		if (CF === 0 && SF === 1) {
			for (var i = 0; i < rows.length; i++) {
				rows[i].style.backgroundColor = "";
				rows[i].classList.remove('selected');
			}
			CF2.fill(0);
			SF = 0;
			myFunction2();
			return;
		}

		for (var i = 0; i < cells.length; i++) {
			var cell = cells[i];
			cell.onclick = function () {
				var rowId = this.parentNode.rowIndex;
				var rowSelected = table.getElementsByTagName('tr')[rowId];
				var rowsNotSelected = table.getElementsByTagName('tr');

				if (rowSelected.style.backgroundColor === "yellow") {
					rowSelected.style.backgroundColor = "";
					rowSelected.classList.remove('selected');
					CF2[rowId] -= 1;
					if (CF2.every(ZF) === true && SF === 1) {
						myFunction2();
						SF = 0;
					}
					return;
				}
				rowSelected.style.backgroundColor = "yellow";
				rowSelected.className += " selected";
				CF2[rowId] += 1;
				subjLoad(CF2);
				if (CF2.every(ZF) === false && SF === 0) {
					myFunction2();
					SF = 1;
				}
			}
		}
	}

	choose3();
	function choose3() {

		var table = document.getElementById('display-table-3');
		var cells = table.getElementsByTagName('td');
		var rows = table.getElementsByTagName('tr');

		if (CF === 0 && CF3 === 1) {
			for (var i = 0; i < rows.length; i++) {
				rows[i].style.backgroundColor = "";
				rows[i].classList.remove('selected');
			}
			CF3 = 0;
			myFunction3();
			return;
		}

		for (var i = 0; i < cells.length; i++) {
			var cell = cells[i];
			cell.onclick = function () {
				var rowId = this.parentNode.rowIndex;
				var rowSelected = table.getElementsByTagName('tr')[rowId];
				var rowsNotSelected = table.getElementsByTagName('tr');

				if (rowSelected.style.backgroundColor === "yellow") {
					rowSelected.style.backgroundColor = "";
					rowSelected.classList.remove('selected');
					myFunction3();
					CF3 = 0;
					return;
				}

				for (var row = 0; row < rowsNotSelected.length; row++) {
					rowsNotSelected[row].style.backgroundColor = "";
					rowsNotSelected[row].classList.remove('selected');
				}

				rowSelected.style.backgroundColor = "yellow";
				rowSelected.className += " selected";

				if (CF3 === 0) {
					myFunction3();
					CF3 = 1;
				}

				document.getElementById("nSubjGrpId").innerHTML = table.rows[rowId].cells[0].innerHTML;
				document.getElementById("nSubjId").innerHTML = table.rows[rowId].cells[1].innerHTML;
				document.getElementById("tchr").innerHTML = table.rows[rowId].cells[2].innerHTML;
				document.getElementById("cmp").innerHTML = table.rows[rowId].cells[3].innerHTML;
				document.getElementById("crd").innerHTML = table.rows[rowId].cells[4].innerHTML;
				
				document.getElementById("subject").value = table.rows[rowId].cells[1].innerHTML;
			}
		}
	}



</script>
{% endblock %}
