{% extends 'tanni/base.html' %}
{% block style %}
<style>
.center {
	margin: auto;
	width: 50%;
	text-align: center;
	border: 0px solid green;
	padding: 10px;
}
table.a {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

table.b { 
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 30%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

.wrapper{
  display:flex;
  flex-direction:row;
}

.right{
	width:50%;
}

.left{
	width:50%;
}

#myDIV {
	width: 100%;
	padding: 0px 0;
	text-align: left;
	background-color: none;
	margin-top: 0px;
}
</style>
{% endblock %}

{% block content %}
<p>卒業に必要な単位のシミュレーションを行います。</p>
<p>＜取得済み単位＞</p>
<p>スラサポ利用前（２０１９年度後期以前）</p>
<p>科目群ごとに取得した単位数を入力し、確定をクリックしてください。</p>
<table class="a">
	<thread>
		<th>科目群</th><th>単位数</th>
	</thread>
	<tr>
		<td>専門</td><td><input type="number" id="s1" name="spec" min="0" max="99"  value="0"></td>
	</tr>
	<tr>
		<td>共通数理</td><td><input type="number" id="s2" name="math" min="0" max="99"  value="0"></td>
	</tr>
	<tr>
		<td>言語・情報系</td><td><input type="number" id="s3" name="lang" min="0" max="99"  value="0"></td>
	</tr>
	<tr>
		<td>人文社会系教養</td><td><input type="number" id="s4" name="social" min="0" max="99" value="0"></td>
	</tr>
	<tr>
		<td>共通健康</td><td><input type="number" id="s5" name="health" min="0" max="99" value="0"></td>
	</tr>
	<tr>
		<td>共通工学系教養</td><td><input type="number" id="s6" name="engine" min="0" max="99" value="0"></td>
	</tr>
</table>

<div class="center">
	<button onclick="myFunction();calculate()">確定</button>
</div>

<div class="wrapper">
<div class='left'>
<div id="myDIV" style="display:none"><p>
	＜スラサポ登録分＞
		<table class="b">
			<tr>
				<td>専門</td><td></td>
			</tr>
			<tr>
				<td>共通数理</td><td></td>
			</tr>
			<tr>
				<td>言語・情報系</td><td></td>
			</tr>
			<tr>
				<td>人文社会系教養</td><td></td>
			</tr>
			<tr>
				<td>共通健康</td><td></td>
			</tr>
			<tr>
				<td>共通工学系教養</td><td></td>
			</tr>
			<tr>
				<td>取得済み単位合計</td><td><a id=totalcrd></a></td>
			</tr>
		</table>
	</p>
</div>
</div>

<div class='right'>
<div id="myDIV2" style="display:none"><p>

	＜卒業に必要な残りの単位＞
		<table class="b">
			<tr>
				<td>専門</td><td></td>
			</tr>
			<tr>
				<td>共通数理</td><td></td>
			</tr>
			<tr>
				<td>言語・情報系</td><td></td>
			</tr>
			<tr>
				<td>人文社会系教養</td><td></td>
			</tr>
			<tr>
				<td>共通健康</td><td></td>
			</tr>
			<tr>
				<td>共通工学系教養</td><td></td>
			</tr>
			<tr>
				<td>卒業に必要な残りの単位合計</td><td></td>
			</tr>
		</table>

</p></div>
</div>
</div>

{% endblock %}

{% block script %}
<script>
var totalcrd = 0;
var s = 
  [document.getElementById('s1').value,
  document.getElementById('s2').value,
  document.getElementById('s3').value,
  document.getElementById('s4').value,
  document.getElementById('s5').value,
  document.getElementById('s6').value];//s[] = 入力値(intでなくvar)
  
function myFunction() {
  var x = document.getElementById("myDIV");
  var y = document.getElementById("myDIV2");
  if (x.style.display === "none" && y.style.display === "none") {
    x.style.display = "block";
	y.style.display = "block";
  } 
}

function calculate(){
  var sum = 0;
  for (var i = 0; i < s.length ; i++){
  sum += parseInt(s[i]);//paseInt(x)-> var x => int x
  }
  document.getElementById("totalcrd").innerHTML = sum;
}

//function creditLoad(s){
//	url = /* お願いします */;
//	$("myDIV").load(url);
//}

//function creditLoad2(s){
//	url = /* お願いします */;
//	$("myDIV2").load(url);
//}
</script>
{% endblock %}
