<!--Name   : W5 登録画面 単位テーブル
Designer: al18056, al18112
Updated : 2020/07/20
-->
<div class="col-md-6">
    <p>＜取得単位＞（うち取得予定単位）</p>
    <table class="table table-striped table-bordered">
        <tr>
            <td>専門</td>
            <td>{{ senmon }}</td>
        </tr>
        <tr>
            <td>共通数理</td>
            <td>{{ suuri }}</td>
        </tr>
        <tr>
            <td>言語・情報系</td>
            <td>{{ gengo }}</td>
        </tr>
        <tr>
            <td>人文社会系教養</td>
            <td>{{ jinbun }}</td>
        </tr>
        <tr>
            <td>共通健康</td>
            <td>{{ kenkou }}</td>
        </tr>
        <tr>
            <td>共通工学系教養</td>
            <td>{{ kougaku }}</td>
        </tr>
        <tr>
            <td>取得済み単位合計</td>
            <td>{{ sum }}</td>
        </tr>
    </table>
</div>
<div class="col-md-6">
    <p>＜卒業必要単位＞: {{ required }}</p>
    <p>{{ message }}</p>
    {% if diff <= 0 %}
    <p class="text-primary">OK</p>
    {% else %}
    <p class="text-danger">残り{{ diff }}単位必要</p>
    {% endif %}
</div>