{% extends 'tanni/base.html' %}
{% block content %}
    <p>aa00001としてログインしています。</p>
    <p>ホーム画面へ戻る</p>
    <p>ユーザ一覧を表示しています。<br>
        学籍番号をクリックすると詳細が表示されます。
    </p>

    <!--絞り込み条件-->
    <p>
        絞り込み条件：
        <select>
            <option>選択しない</option>
            <option>工</option>
            <option>システム理工</option>
            <option>デザイン工</option>
            <option>建築</option>
        </select>学部

        <select>
            <option>選択しない</option>
            <option>機械工</option>
            <option>材料工</option>
            <option>電子工</option>
            <option>機械機能工</option>
            <option>情報工</option>
            <option>情報通信工</option>
        </select>学科

        <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>年
    </p>

    <table class = "table table-hover table-sm">
        <tr>
            <th>学籍番号</tr><th>名前</tr>
        </tr>
        <tr>
            <th >aa00001</tr><th>AbcdEfgh</tr>
        </tr>
        <!--
            行のテンプレート
        <tr>
            <th></tr><th></tr>
        </tr>
        -->
    </table>
{% endblock %}