{% block content %}

<div class="jumbotron text-center">
  <h1>スラサポ</h1>
  <p>スクール・ライフ・サポート</p> 
</div>
  
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h2 style="text-align:center">新規登録</h2>
            <form action="/action_page.php">
            <div class="form-group">
                <label for="usr">Username:</label>
                <input type="text" class="form-control" id="usr" name="user_id" placeholder="aa00000@shibaura-it.ac.jp">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" name="PW" placeholder="8-16文字半角">
            </div>
            <div class="form-group">
                <label for="pwd2">Password confirmation:</label>
                <input type="password" class="form-control" id="pwd2" name="PW_check" placeholder="もう一度パスワードを入力してください">
            </div>
            </form>
            <p class="text-danger">
                <!--error_messageはここに入れる-->
                <!--username error, password error, confirmation error-->
            </p>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">登録</button>
        </div>
        <div class="col-sm-5"></div>
    </div>
</div>
{% endblock %}
